package view

import "osbourne.local/frontend/internal/domain"

type CatalogPageData struct {
	PageData
	Courses []domain.Course
}

templ CatalogPage(data CatalogPageData) {
	@Base(data.User) {
		<section>
			<h1>Course Catalog</h1>
			<p>Welcome to your course catalog.</p>
			if len(data.Courses) > 0 {
				<ul>
					for _, c := range data.Courses {
						<li>
							@CourseCard(c)
						</li>
					}
				</ul>
			} else {
				<p>No courses to display.</p>
			}
		</section>
	}
}
