package view

import "osbourne.local/frontend/internal/domain"


type CoursePageData struct {
	PageData
	Course  domain.Course
	Modules []domain.Module
	Assignemnts []domain.Assignment
}

templ CoursePage(data CoursePageData) {
	@Base(data.User) {
		<section>
			<h1>{ data.Course.Title }</h1>
			<p><strong>Code:</strong> { data.Course.Code }</p>
			<p><strong>Description:</strong> { data.Course.Description }</p>
			<p><strong>Credits:</strong> { data.Course.Credits }</p>
		</section>
		<section>
			<h2>Modules</h2>
			<ul>
				for _, module := range data.Modules {
					<li>
						<h3>{ module.Title }</h3>
						<p>{ module.Text }</p>
					</li>
				}
			</ul>
		</section>
		<section>
			<h2>Assignments</h2>
			<ul>
				for _, assignment := range data.Assignemnts {
					<li>
						<strong>{ assignment.Title }</strong> - Due Date: { assignment.DueDate.Format("Jan 2, 2006, 3:04 PM") } <a href={"/courses/" + data.Course.ID + "/assignments/" + assignment.ID}>View Details</a>
					
					</li>
				}
			</ul>
		</section>
	}
}
