package view

import "osbourne.local/frontend/internal/domain"

type DashboardPageData struct {
	PageData
	Courses []domain.Course
}

templ DashboardPage(data DashboardPageData) {
	@Base(data.User) {
		<section>
			<p>Welcome to the portal dashboard.</p>
			<p>Here you can find information about your courses, assignments, and other relevant details.</p>

			<h1>Your Courses</h1>
			if len(data.Courses) > 0 {
				<ul>
					for _, c := range data.Courses {
						<li>
							<a href={ "/courses/" + c.ID }>
								<h2>{ c.Title } ({ c.Code })</h2>
							</a>
						</li>
					}
				</ul>
			} else {
				<p>You are not enrolled in any courses yet.</p>
			}
		</section>
	}
}
