package view

import "osbourne.local/frontend/internal/domain"

type NotificationsPageData struct {
	PageData
	Notifications []domain.Notification
}

templ NotificationsPage(data NotificationsPageData) {
	@Base(data.User) {
		<section>
			<h1>Notifications</h1>
			<p>Welcome to your notifications page.</p>
			if len(data.Notifications) > 0 {
				<ul>
					for _, n := range data.Notifications {
						<li>
							@NotificationItem(n)
						</li>
					}
				</ul>
			} else {
				<p>No notifications to display.</p>
			}
		</section>
	}
}
