package view

type ProfilePageData struct {
	PageData
}

templ ProfilePage(data ProfilePageData) {
	@Base(data.User) {
		<section>
			<h1>Your Profile</h1>
			<p>Welcome to your profile page.</p>
			<p>ID: { data.User.ID }</p>
			<p>Name: { data.User.Name }</p>
			<p>Role: { data.User.Role }</p>
		</section>
	}
}
