package view

import "osbourne.local/frontend/internal/domain"

templ ProfilePage(user domain.User) {
	@Base(user) {
		<section>
			<h1>Your Profile</h1>
			<p>Welcome to your profile page.</p>
			<p>ID: { user.ID }</p>
			<p>Name: { user.Name }</p>
			<p>Role: { user.Role }</p>
		</section>
	}
}
